# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
sftp_mounter/bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosexyproject/
.noseids
.track/
.pytest_cache/
cover/

# Poetry virtual environments
.venv/
poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS files
.DS_Store
